@{
    ViewBag.Title = "About";
}
<style>
    .font_8 {
        font: normal normal normal 15px/1.4em raleway,sans-serif;
        color: #2F2F2F;
    }
</style>
<div>
    <section class="tz-our-blog theme-white">
        <div class="container">
            <div class="row">
                <div class="col-md-4"><img style="width:70%" src="~/Content/Images/carpet logo new copy.jpg" /></div>
                <div class="col-md-8">
                    <p style="line-height:1.5em;" class="font_8">Harati Valley Carpet has been providing the finest in handmade rugs. We Make Traditional Tibetan design and modern designs and custom order with latest fashion trends.</p>
                    <p style="line-height:1.5em;" class="font_8">
                        All our rugs are hand knotted using traditional techniques. hand-knotted rugs will be durable. We use only the finest Himalayan Tibetan wool, New Zealand wool, Chinese silk, Banana silk, Bamboo silk and a variety of wild fibers. We can produce a good quality rug at a budget price up to an excellent quality rug at  “Best Price”.  We can make your imagination any design in reality.  We will be able to produce the exact colors that you desire. Then before production we will produce a swatch to insure that the colors are correct.
                    </p>
                    <p style="line-height:1.5em;" class="font_8">
                        We work directly with interior decorators, architects, distributors, and retailers to develop custom designs for the customer, leaving them with a rug which they will admire for a lifetime.  Thank you for visiting the haraticarpet.com site. Choose Best quality rugs from us and we will do our best to exceed your high expectations.
                    </p>
                    <p><h4>Do you provide International delivery?</h4></p>
                    <p>Yes, we offer and international shipping services worldwide. Products are delivered to the customer by air freight, sea cargo, and courier service. </p>
                    <p><b>For Nepal:</b> Whether you are living in Kathmandu, Biratnagar, Pokhara, Bhairahawa, Birgunj, Butwal, Nepalgunj, Narayanghat, Itahari or any other places within Nepal, Harati  provides FREE DELIVERY all over Nepal. You just have to click to buy your desired products and mention the delivery and payment details, we will make sure that you receive your goods at the earliest. Harati assures quick delivery of goods all over Nepal. Also online payment or cash on delivery is facilitated with certain terms and conditions.</p>
                    <p><h4>Do you make Rugs as Per our Design?</h4></p>
                    <p>We are capable of producing your rug in any design, size, shape, colors, thickness at 60 knots, 80 knots, 100 knots, 120 knots, 150 knots and 200 knots. We have a wide range of materials like Tibetan wool, New Zealand wool, Chinese silk, Hemp, Banana fiber, Bamboo fiber and much more materials</p>
                    <p><h4>Return Policy </h4></p>
                    <p>If any manufacturing fault in your rugs includes: wrong design, wrong colors, wrong size, wrong shape, wrong thickness, wrong materials then we are responsible to replace your rug on receiving back of the defected rug on fright prepaid basis. You are responsible to pay for a fright charge when shipping it back. You have 2 business days to notify us with the description and pictures of the dissatisfaction.</p>
                    <p>We will re manufacture or repair your rug in reasonable time.</p>
                </div>
            </div>
        </div>
    </section>
</div>
