@{
    ViewBag.Title = "About";
}
<style>
    .font_8 {
        font: normal normal normal 15px/1.4em raleway,sans-serif;
        color: #2F2F2F;
    }
</style>
<div style="margin-top:5%;">
    <section class="tz-our-blog theme-white">
        <div class="container">
            <div class="row">
                <div class="col-md-4"><img style="width:70%" src="~/Content/Images/carpet logo new copy.jpg" /></div>
                <div class="col-md-8">
                    <p style="line-height:1.5em;" class="font_8"><span style="line-height:1.5em;">All our rugs are hand knotted using traditional techniques. hand-knotted rugs will be durable. We use only the finest Himalayan Tibetan wool, New Zealand wool, Chinese silk, Banana silk, Bamboo silk and a variety of wild fibers. We can produce a good quality rug at a budget price up to an excellent quality rug at  “Best Price”.  We can make your imagination any design in reality.  We will be able to produce the exact colors that you desire. Then before production we will produce a swatch to insure that the colors are correct.</span></p>
                </div>
            </div>
        </div>
        <!-- end container -->
    </section>
</div>
