@model Harati.Models.LoginViewModel
<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Yatri - Admin Dashboard</title>
    <link rel="icon" type="image/ico" href="~/Areas/assets/images/favicon.ico" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Stylesheets -->
    <!-- css files -->

    <link rel="stylesheet" href="~/Areas/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="~/Areas/assets/css/vendor/animate.css">
    <link rel="stylesheet" href="~/Areas/assets/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="~/Areas/assets/js/vendor/animsition/css/animsition.min.css">

    <!-- project main css files -->
    <link rel="stylesheet" href="~/Areas/assets/css/main.css">

    <!--/ stylesheets -->
    <!--  Modernizr  -->
    <script src="~/Areas/assets/js/vendor/modernizr/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <!--/ modernizr -->

</head>
<body id="yatriv1" class="appWrapper">
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
     <![endif]-->
    <!-- Application Content -->
    <div id="wrap" class="animsition">
        <div class="page page-core page-login">
            <div class="text-center">
                <h3 class="text-white">News Portal<span class="text-dutch"> Admin</span></h3>
            </div>
            <div class="container w-360 p-20 bg-white mt-40 text-center br-5">
                <h4>Sign In With Your Account</h4>
                <!-- <h2 class="text-light text-greensea">Log In</h2>-->
                <form name="form" class="form-validation mt-20" novalidate>
                    <div class="form-group">
                        <input type="email" class="form-control underline-input" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Password" class="form-control underline-input">
                    </div>
                    <div class="form-group text-left">
                        <label class="checkbox checkbox-custom-alt checkbox-custom-sm inline-block">
                            <input type="checkbox">
                            <i></i> Remember me
                        </label>
                    </div>
                    <div class="form-group text-center mt-20"> <a href="index-2.html" class="btn btn-full btn-dutch b-0 br-5 text-uppercase">Login</a> </div>
                </form>
                <h5>

                    <a href="#">Forgot Password?</a>

                </h5>
            </div>

        </div>
    </div>
    <!--/ Application Content -->
    <!--JavaScripts -->


    <script src="~/Areas/assets/js/vendor/jquery/jquery-1.11.2.min.js"></script>
    <script type="text/javascript">window.jQuery || document.write('<script src="~/Areas/assets/js/vendor/jquery/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="~/Areas/assets/js/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="~/Areas/assets/js/vendor/jRespond/jRespond.min.js"></script>
    <script src="~/Areas/assets/js/vendor/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/Areas/assets/js/vendor/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Areas/assets/js/vendor/animsition/js/jquery.animsition.min.js"></script>
    <script src="~/Areas/assets/js/vendor/screenfull/screenfull.min.js"></script>
    <!--/ javascripts -->
    <!--Custom JavaScripts -->
    <script src="~/Areas/assets/js/main.js"></script>
    <!--/ custom javascripts -->
    <!-- Page Specific Scripts  -->
    <script type="text/javascript">
        $(window).load(function () {
        });
    </script>

</body>

<!-- Mirrored from thememakker.com/yatri-admin/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 16 Mar 2017 09:36:31 GMT -->
</html>
